:root {
    --primary-color: #ff5e00;
}

header {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

section,
footer,
header,
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 50px;
}

.column {
    flex: 1;
    min-width: 300px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

.headline {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

.description {
    font-size: 1.2em;
    color: #666;
}

.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin: auto;
}

.headline > b {
    color: var(--primary-color);
}

.footer-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.footer-description {
    font-size: 1em;
    color: #666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--primary-color);
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact {
    font-size: 1em;
    color: #666;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 20px;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, opacity 0.3s;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
}

.icon {
    width: 28px;
    height: 28px;
    color: #fff;
}

.text-container {
    flex: 1;
}

.step-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.step-description {
    font-size: 1em;
    color: #666;
    margin-top: 5px;
}

input {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.address-input {
    width: 100%;
    display: flex;
    gap: 50px;
}

.address-input div {
    width: 100%;
}

#map {
    height: 60vh;
    width: 100%;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .headline {
        font-size: 2em;
    }
}
